* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.cadre {
  width:400px;
  height:400px;
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%,-50%) scale3d(0,1,1);
  -moz-transform: translate(-50%,-50%) scale3d(0,1,1);
  -ms-transform: translate(-50%,-50%) scale3d(0,1,1);
  -o-transform: translate(-50%,-50%) scale3d(0,1,1);
  transform: translate(-50%,-50%) scale3d(0,1,1);
  transform-origin: left;
  background: $dark-blue;
}
::-moz-selection { background: $blue; }
::selection { background: $blue; }
body {
  background-image: url(../images/bg.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  /*background : -moz-linear-gradient(85.15% -12.48% -135deg,rgba(0, 255, 255, 1) 0%,rgba(10, 200, 229, 1) 7.43%,rgba(23, 130, 195, 1) 17.82%,rgba(33, 74, 168, 1) 27.19%,rgba(40, 34, 149, 1) 35.18%,rgba(44, 9, 137, 1) 41.5%,rgba(46, 0, 133, 1) 45.35%,rgba(105, 4, 146, 1) 60.42%,rgba(154, 6, 157, 1) 74.73%,rgba(184, 8, 164, 1) 85.57%,rgba(195, 9, 166, 1) 91.69%);
  background : -webkit-linear-gradient(-135deg, rgba(0, 255, 255, 1) 0%, rgba(10, 200, 229, 1) 7.43%, rgba(23, 130, 195, 1) 17.82%, rgba(33, 74, 168, 1) 27.19%, rgba(40, 34, 149, 1) 35.18%, rgba(44, 9, 137, 1) 41.5%, rgba(46, 0, 133, 1) 45.35%, rgba(105, 4, 146, 1) 60.42%, rgba(154, 6, 157, 1) 74.73%, rgba(184, 8, 164, 1) 85.57%, rgba(195, 9, 166, 1) 91.69%);
  background : -webkit-gradient(linear,85.15% -12.48% ,-29.6% 191.51% ,color-stop(0,rgba(0, 255, 255, 1) ),color-stop(0.0743,rgba(10, 200, 229, 1) ),color-stop(0.1782,rgba(23, 130, 195, 1) ),color-stop(0.2719,rgba(33, 74, 168, 1) ),color-stop(0.3518,rgba(40, 34, 149, 1) ),color-stop(0.415,rgba(44, 9, 137, 1) ),color-stop(0.4535,rgba(46, 0, 133, 1) ),color-stop(0.6042,rgba(105, 4, 146, 1) ),color-stop(0.7473,rgba(154, 6, 157, 1) ),color-stop(0.8557,rgba(184, 8, 164, 1) ),color-stop(0.9169,rgba(195, 9, 166, 1) ));
  background : -o-linear-gradient(-135deg, rgba(0, 255, 255, 1) 0%, rgba(10, 200, 229, 1) 7.43%, rgba(23, 130, 195, 1) 17.82%, rgba(33, 74, 168, 1) 27.19%, rgba(40, 34, 149, 1) 35.18%, rgba(44, 9, 137, 1) 41.5%, rgba(46, 0, 133, 1) 45.35%, rgba(105, 4, 146, 1) 60.42%, rgba(154, 6, 157, 1) 74.73%, rgba(184, 8, 164, 1) 85.57%, rgba(195, 9, 166, 1) 91.69%);
  background : -ms-linear-gradient(-135deg, rgba(0, 255, 255, 1) 0%, rgba(10, 200, 229, 1) 7.43%, rgba(23, 130, 195, 1) 17.82%, rgba(33, 74, 168, 1) 27.19%, rgba(40, 34, 149, 1) 35.18%, rgba(44, 9, 137, 1) 41.5%, rgba(46, 0, 133, 1) 45.35%, rgba(105, 4, 146, 1) 60.42%, rgba(154, 6, 157, 1) 74.73%, rgba(184, 8, 164, 1) 85.57%, rgba(195, 9, 166, 1) 91.69%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF', endColorstr='#C309A6' ,GradientType=0)";
  background : linear-gradient(225deg, rgba(0, 255, 255, 1) 0%, rgba(10, 200, 229, 1) 7.43%, rgba(23, 130, 195, 1) 17.82%, rgba(33, 74, 168, 1) 27.19%, rgba(40, 34, 149, 1) 35.18%, rgba(44, 9, 137, 1) 41.5%, rgba(46, 0, 133, 1) 45.35%, rgba(105, 4, 146, 1) 60.42%, rgba(154, 6, 157, 1) 74.73%, rgba(184, 8, 164, 1) 85.57%, rgba(195, 9, 166, 1) 91.69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF',endColorstr='#C309A6' , GradientType=1);*/
}
#burger {
  position: absolute;
  background: white;
  width:40px;
  height:40px;
  top:40px;
  right:40px;
}
.shape-overlays {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#myCanvas {
  position: absolute;
  top:0;
  left:0;
}

.wrap-flex {
  max-width:1600px;
  padding:0 20px;
  display: flex;
  flex-flow: wrap;
  margin:0 auto;
  .col-f2 {
    flex: 0 0 50%;
  }
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.introduction {
  display: none;
}
.pre-loader {
  position: absolute;
  height:100vh;
  width:100%;
  .medic {
    position: absolute;
    &:nth-of-type(1) {
      width:200px;
      top:40%;
      left: 10%;
      @include rotate(34);
      opacity:0.8;
    }
    &:nth-of-type(2) {
      width:100px;
      top:10%;
      left: 80%;
      @include rotate(190);
      opacity:0.4;
    }
    &:nth-of-type(3) {
      width:50px;
      top:60%;
      left: 60%;
      @include rotate(34);
      opacity:0.8;
    }
    &:nth-of-type(4) {
      width:100px;
      top:0%;
      left: 10%;
      @include rotate(34);
      opacity:0.8;
    }
    &:nth-of-type(5) {
      width:120px;
      bottom:3%;
      left:70%;
      @include rotate(-120);
      opacity:0.2;
    }
  }
  .load {
    width:300px;
    height:100px;
    border-width: 2.51px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 80px;
    position: absolute;
    width: 284.98px;
    height: 115.98px;
    z-index: 14;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    .loader-js {

      width:100%;
      height:100%;
      background: $white;
      transform-origin: left;
      @include scale(0,1)
    }
  }
}
.loader-text {
  position: absolute;
  left:50%;
  top:60%;
  @include translatex(-50%);
  font-family:$font-gtBold;
  font-size:20px;
  color: $white;

}

