/* Fonts
   ========================================================================== */
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'san_francisco_displaylight';
  src: url('../fonts/sanfranciscodisplay-light-webfont.woff2') format('woff2'),
  url('../fonts/sanfranciscodisplay-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'san_francisco_displayultraLt';
  src: url('../fonts/sanfranciscodisplay-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/sanfranciscodisplay-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'san_francisco_textmedium';
  src: url('../fonts/sanfranciscotext-medium-webfont.woff2') format('woff2'),
  url('../fonts/sanfranciscotext-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url('../fonts/GTWalsheim-Bold.eot');
  src: url('../fonts/GTWalsheim-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GTWalsheim-Bold.woff') format('woff'),
  url('../fonts/GTWalsheim-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim Medium';
  src: url('../fonts/GTWalsheim-Medium.eot');
  src: url('../fonts/GTWalsheim-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GTWalsheim-Medium.woff') format('woff'),
  url('../fonts/GTWalsheim-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim Light';
  src: url('../fonts/GTWalsheim-Light.eot');
  src: url('../fonts/GTWalsheim-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GTWalsheim-Light.woff') format('woff'),
  url('../fonts/GTWalsheim-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim Regular';
  src: url('../fonts/GTWalsheim.eot');
  src: url('../fonts/GTWalsheim.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GTWalsheim.woff') format('woff'),
  url('../fonts/GTWalsheim.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SanFranciscoDisplay-Regular.eot');
  src: url('../fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'),
  url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}



$font-openSemi: "open_sanssemibold", sans-serif;
$font-gtBold: 'GT Walsheim', sans-serif;
$font-gtMedium: 'GT Walsheim Medium', sans-serif;
$font-gtLight: 'GT Walsheim Light', sans-serif;
$font-gtRegular: 'GT Walsheim Regular', sans-serif;

$font-sanLight: "san_francisco_displaylight", sans-serif;
$font-sanUltra: "san_francisco_displayultraLt", sans-serif;
$font-sanMedium: "san_francisco_textmedium", sans-serif;
$font-sanRegular: 'San Francisco Display';


/* Colors
   ========================================================================== */
$blue:        #00ffff;
$purple:      #2e0085;
$pink:        #c309a6;
$black:       #000000;
$white:       #FFFFFF;
$dark-blue:   #101e3d;
$red:         #df2828;
$violet:      #241458;

/* Easings
   ========================================================================== */
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

/* Breakpoints
  ========================================================================== */
$breakpoints: (phone: 425px, tablet: 768px, desktop: 1024px);

