.btn {
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  padding:20px 65px;
  color: $black;
  font-family:$font-sanMedium;
  font-size:20px;
  text-decoration: none;
}
.btn-white {
  background: $white;
  position: relative;
  z-index:10000;
  span {
    color: $dark-blue!important;
  }
}
.btn-valid {
  cursor: pointer;
  position: absolute;
  bottom:120px;
  left:50%;
  @include translatex(-50%);
  width:70px;
  height:70px;
  background-image: url(../images/btn-valid.svg);
  background-repeat:no-repeat;
  background-position: center;
  
}
.btn-choice {
  font-family:$font-gtMedium;
  font-size:17px;
  border-width: 2px;
  text-decoration: none;
  color: $white;
  border-color: $white;
  border-style: solid;
  border-radius: 13px;
  padding: 12px 0px;
  width:100%;
  text-align: center;
  max-width:180px;
  z-index: 129;
  cursor: pointer;
  background: transparent;
  margin:0 15px;
  position: relative;
  &:first-of-type {
    margin-left:0px;
  }
  &:last-of-type {
    margin-right:0px;
  }
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.active-btn {
    background-image: -moz-linear-gradient( 56deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
    background-image: -webkit-linear-gradient( 56deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
    background-image: -ms-linear-gradient( 56deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
    color: #1f0146;
  }
  &.true-btn {
    background-image: -moz-linear-gradient( 42deg, rgb(24,172,0) 0%, rgb(54,214,33) 59%, rgb(83,255,65) 100%);
    background-image: -webkit-linear-gradient( 42deg, rgb(24,172,0) 0%, rgb(54,214,33) 59%, rgb(83,255,65) 100%);
    background-image: -ms-linear-gradient( 42deg, rgb(24,172,0) 0%, rgb(54,214,33) 59%, rgb(83,255,65) 100%);
  }
  &.false-btn {
    background-image: -moz-linear-gradient( 42deg, rgb(172,0,0) 0%, rgb(214,33,33) 59%, rgb(255,65,65) 100%);
    background-image: -webkit-linear-gradient( 42deg, rgb(172,0,0) 0%, rgb(214,33,33) 59%, rgb(255,65,65) 100%);
    background-image: -ms-linear-gradient( 42deg, rgb(172,0,0) 0%, rgb(214,33,33) 59%, rgb(255,65,65) 100%);
  }
  &.btn-border-false {
    border-color: red;
  }
  &.btn-border-true {
    border-color: green;
  }
}

.btn-last {
  background-image: -moz-linear-gradient( 42deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
  background-image: -webkit-linear-gradient( 42deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
  background-image: -ms-linear-gradient( 42deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
  color: $violet;
}