.introduction {
  text-align: center;
  .btn-valid {
    width:30px;
    height:30px;
    /*position: relative;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
    bottom:initial;
    left:initial;
    display: block;
    margin:0 auto;
    margin-top:70px;*/
  }
  h1 {
    > div {
      display: inline-block;
    }
    padding-top:136px;
    color: $white;
    font-family:$font-gtBold;
    font-size:90px;
    margin-bottom:40px;
    line-height:26px;
  }
  .introduction_sub-title {
    color: $white;
    font-family:$font-gtRegular;
    color: $white;
    line-height:26px;
    font-size:37px;
  }
  a {
    position: absolute;
    left:50%;
    @include translatex(-50%);
    bottom:100px;
  }
  .wrap-flex {
    align-items: center;
    justify-content: center;
    .col-f2 {
      height:100vh;
    }
  }
  p{
    font-family:$font-sanLight;
    font-size:20px;
    max-width:1100px;
    padding:10px;
    margin: 0 auto;
    color: $white;
    margin-top:50px;
    &.start {
      position: absolute;
      bottom:5%;
      left:50%;
      @include translatex(-50%);
    }
  }
  img {
    width:450px;
    margin-top:50px;
  }
}
.data-day {
  color: $white;
  font-family:$font-gtBold;
  text-align: center;
  font-size:30px;
  font-weight:300;
}
.bar:last-of-type {
  display: none;
}
.bar {
  fill: white;
  &.active-1 {
    fill:url(#svgGradientOne);
  }
}

.domain {
  stroke: $white;

}
.tick {
  line {
    display: none;
  }
  text {
    font-size: 16px;
    fill: $white
  }
}
.map {
  position: absolute;
  width:51px;
  height:62px;
  background-image: url('../images/you.svg');
  background-repeat:no-repeat;
  background-position: center;
  margin-bottom:0!important;
  margin-top:0!important;
}
.list-days-two {
  overflow: hidden!important;

}
.slider-days {
  background-image: -moz-linear-gradient( 61deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
  background-image: -webkit-linear-gradient( 61deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
  background-image: -ms-linear-gradient( 61deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
  padding:20px 0px;
  width:100%;
  font-family:$font-gtMedium;
  text-align: center;
  max-width:300px;
  position: relative;
  border-radius: 17px;
  overflow: visible!important;
  margin-bottom:30px;
  .list-days-item {
    font-size:17px;
    color: $violet;
    display: none;
    span {
      font-weight:800;
    } }
  .current {
    display: block;
  }
  &:before {
    content: '';
    position: absolute;
    width:40px;
    height: 20px;
    bottom:-20px;
    left:50%;
    @include translatex(-50%);
    background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2244px%22%20height%3D%2221px%22%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22PSgrad_0%22%20x1%3D%220%25%22%20x2%3D%2248.481%25%22%20y1%3D%2287.462%25%22%20y2%3D%220%25%22%3E%0A%20%20%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22rgb%28224%2C138%2C54%29%22%20stop-opacity%3D%221%22%20/%3E%0A%20%20%3Cstop%20offset%3D%2232%25%22%20stop-color%3D%22rgb%28227%2C186%2C45%29%22%20stop-opacity%3D%221%22%20/%3E%0A%20%20%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22rgb%28229%2C234%2C35%29%22%20stop-opacity%3D%221%22%20/%3E%0A%3C/linearGradient%3E%0A%0A%3C/defs%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M22.000%2C21.000%20L0.000%2C0.000%20L44.000%2C0.000%20%22/%3E%0A%3Cpath%20fill%3D%22url%28%23PSgrad_0%29%22%0A%20d%3D%22M22.000%2C21.000%20L0.000%2C0.000%20L44.000%2C0.000%20%22/%3E%0A%3C/svg%3E);
    background-repeat:no-repeat;
    background-position: center;

  }

}
.slide-arrow--left {
  cursor: pointer;

  position: absolute;
  left:-30px;
  top:50%;
  @include translatey(-50%);
  background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2019%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_18%3C/title%3E%3Cpath%20d%3D%22M14%2C20a.47.47%2C0%2C0%2C0%2C.35-.15.48.48%2C0%2C0%2C0%2C0-.7L5.71%2C10.5l8.64-8.65a.48.48%2C0%2C0%2C0%2C0-.7.48.48%2C0%2C0%2C0-.7%2C0l-9%2C9a.48.48%2C0%2C0%2C0%2C0%2C.7l9%2C9A.47.47%2C0%2C0%2C0%2C14%2C20Z%22%20transform%3D%22translate%28-4.5%20-1%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
  background-repeat:no-repeat;
  width:20px;
  height:25px;
}
.slide-arrow--right {
  cursor: pointer;
  position: absolute;
  right:-30px;
  top:50%;
  @include translatey(-50%);
  background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2019%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_10%3C/title%3E%3Cpath%20d%3D%22M5%2C20a.47.47%2C0%2C0%2C1-.35-.15.48.48%2C0%2C0%2C1%2C0-.7l8.64-8.65L4.65%2C1.85a.48.48%2C0%2C0%2C1%2C0-.7.48.48%2C0%2C0%2C1%2C.7%2C0l9%2C9a.48.48%2C0%2C0%2C1%2C0%2C.7l-9%2C9A.49.49%2C0%2C0%2C1%2C5%2C20Z%22%20transform%3D%22translate%28-4.5%20-1%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
  background-repeat:no-repeat;
  width:20px;
  height:25px;
}
.results-content {
  font-family:$font-gtBold;
}
.list-days-two--left {
}
.first_slide-content-container {
  height: calc(100vh - 284px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-slide-template {
  &.slide-template {
    .wrap-flex {
      height:100vh;
      .results {
        max-width:700px;
        margin:0 auto;
      }
    }
  }
}
.first_slide {
  .btn-valid {
    bottom:30%;
  }
}
.desktop {
  display: none;
  position: fixed;
  width: 100%;
  height:100%;
  top:0;
  background: $black;
  left:0;
  text-align: center;
  p{

    width:100%;
    padding:0 10px;
    position: absolute;
    font-family:$font-gtBold;
    font-size:40px;
    color: $white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width:1100px) {
    display: block;
  }
  @media screen and (max-height:780px) {
    display: block;
  }
}