.content_slide {
  /*display: none;*/
  opacity:0;
  position: absolute;
  width:90%;
  height:80%;
  background-color: $dark-blue;
  left:50%;
  top:50%;
  @include translate(-50%,-50%);
  border-radius : 19px;
  -moz-border-radius : 19px;
  -webkit-border-radius : 19px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding-left:40px;
  padding-right:40px;
  color: $white;
  .content_slide-title {
    padding-top:40px;
    font-family:$font-openSemi;
    font-size: 42px;
    padding-bottom:20px;
  }
  .content_slide-description {
    font-family:$font-sanLight;
    font-size:25px;
    line-height:30px;
    padding-bottom:100px;
  }
  .content_slide-question {
    display: flex;
    padding-left:20px;
    .content_slide-question--global {
      display: flex;
      margin-bottom:70px;
    }
    p{
      font-family:$font-sanUltra;
      font-size:25px;
      width:calc(100% - 40px);
      padding-left:20px;
    }
    .col-f2 {
      flex:0 0 50%;
    }
    .btn-round {
      display: inline-block;
      cursor: pointer;
      width:26px;
      height:26px;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background : -moz-linear-gradient(0% 50% 0deg,rgba(108, 124, 227, 1) 0%,rgba(103, 181, 229, 1) 46.32%,rgba(97, 252, 231, 1) 99.44%);
      background : -webkit-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(108, 124, 227, 1) ),color-stop(0.4632,rgba(103, 181, 229, 1) ),color-stop(0.9944,rgba(97, 252, 231, 1) ));
      background : -o-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      background : -ms-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      background : linear-gradient(90deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      animation:rot 10s linear infinite;
      &.active {
        background: white;
        &:before {
          background: transparent;
        }
      }
      &:before {
        content: '';
        width:22px;
        height:22px;
        position: absolute;
        left: 50%;
        top:50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: $dark-blue;
        @include translate(-50%,-50%);
      }
    }
  }
}
@keyframes rot {
  0%
  {
    transform:rotate(0deg)
  }
  25%
  {
    transform:rotate(90deg)
  }
  50%
  {
    transform:rotate(180deg)
  }
  75%
  {
    transform:rotate(270deg)
  }
  100% {
    transform:rotate(360deg)
  }
}

.slide {
  display: none;
  height:100vh;
  &.current {
    display: block;
  }

  .slide-number {
    font-size:150px;
    font-family:$font-gtBold;
    color: $white;
    position: absolute;
    left:40px;
    top:35px;
    opacity:0.3;
  }
  h2 {
    font-family:$font-gtBold;
    font-size:36px;
    width:100%;
    color: $white;
    padding-top:70px;
    padding-left:230px;
    max-width: 698px;
  }
  &.first_slide {
    .first_slide-content {
      height: 100px;
      margin:0 auto 0 auto;
      width:100%;
      max-width:640px;
      display: flex;
      .wrap-flex {
        background-image: url(../images/test.svg);
        background-repeat:no-repeat;
        background-position: center;
        margin:0;
        width:100%;

        max-width:640px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        position: relative;
        height:auto;
        &.first_slide-content-line-results {
          max-width:86%;
        }

        .first_slide-content-drag {
          width: 50px;
          height: 50px;
          background-image: -moz-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
          background-image: -webkit-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
          background-image: -ms-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          cursor: move;
          border-radius: 100%;
        }
        .first_slide-content-drag--two {
          width: 50px;
          height: 50px;
          background-image: -moz-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
          background-image: -webkit-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
          background-image: -ms-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          @include translatex(-50%);
        }
        .first_slide-content-yes {
          position: absolute;
          left: 5px;
          top:-10px;
          color: $white;
          font-family:'Helvetica';
          font-size:20px;
          font-weight:600;
          text-transform: uppercase;
        }
        .first_slide-content-no {
          position: absolute;
          right: 0px;
          top:-10px;
          color: $white;
          font-family:'Helvetica';
          font-size:20px;
          font-weight:600;
          text-transform: uppercase;
        }
      }
    }
  }
  &.second-slide {
  }
}
.second_slide-content {
  height: calc(100% - 178px);
  .wrap-flex {
    justify-content: center;
    ul {
      overflow: scroll;
      max-height:255px;
      width:100%;
      max-width:500px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      &::-webkit-scrollbar {
        display: none;
      }
      /*&:before {
        content: '';
        top:50%;
        @include translatey(-50%);
        left:0;
        background: $white;
        position: absolute;
        width: 2px;
        height: 62px;
      }
      &:after {
        content: '';
        top:50%;
        @include translatey(-50%);
        right:0;
        background: $white;
        position: absolute;
        width: 2px;
        height: 62px;

      }*/

      li {
        -webkit-transition: opacity 500ms ease, font-size 500ms ease;
        -moz-transition: opacity 500ms ease, font-size 500ms ease;
        -ms-transition: opacity 500ms ease, font-size 500ms ease;
        -o-transition: opacity 500ms ease, font-size 500ms ease;
        transition: opacity 500ms ease, font-size 500ms ease;
        color: $white;
        font-family:$font-gtMedium;
        padding:30px 0px;
        font-weight:400;
        text-align: center;
        font-size:20px;
        &:first-of-type {
          padding-top: 118px;
          height: 32px;
        }
        &:last-of-type {
          padding-bottom: 116px;
        }
        &.active-liste {
          opacity:1;
          font-size:30px;
        }
        &:not(.active-liste) {
          opacity:0.5;
        }
      }
    }
  }
  &.result-day {
    .wrap-flex {
      position: relative;
    }
  }
}

.results {
  margin: 0 auto;
  background: $dark-blue;
  width:100%;
  max-width: 700px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-flow: column;
  border-radius : 19px;
  -moz-border-radius : 19px;
  -webkit-border-radius : 19px;
  box-shadow: 0px 22px 59px 0px rgba(0, 0, 0, 0.61);
  position: relative;

  .d3 {
    margin-top:60px;
    margin-bottom:60px;
  }
  p{
    color: $white;
    font-family:$font-gtBold;
    font-size:20px;
    max-width:600px;
    margin-top:50px;
    margin-bottom:40px;
    text-align: center;
    padding:0 10px;
  }
}
.slide-template {
  .wrap-flex {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
  }
  &.slide.first_slide .first_slide-content {
    max-width:420px;
    margin-top:0px;
    > .wrap-flex {
      height:auto;
    }
  }
}
.nouveaute__dots {
  position: absolute;
  bottom:60px;
  left:50%;
  display: flex;
  text-align: center;
  @include translatex(-50%);
  &:before {
    content: '';
    z-index:-1;
    position: absolute;
    width:100%;
    height:4px;
    left: 0;
    top: 50%;
    @include translatey(-50%);
    background : -moz-linear-gradient(0% 50% 0deg,rgba(108, 124, 227, 1) 0%,rgba(103, 181, 229, 1) 46.32%,rgba(97, 252, 231, 1) 99.44%);
    background : -webkit-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(108, 124, 227, 1) ),color-stop(0.4632,rgba(103, 181, 229, 1) ),color-stop(0.9944,rgba(97, 252, 231, 1) ));
    background : -o-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background : -ms-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C7CE3', endColorstr='#61FCE7' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C7CE3',endColorstr='#61FCE7' , GradientType=1);
  }
  li {
    display: inline-block!important;
    list-style: none;
    width:12px;
    height:12px;
    background: $white;
    margin-right:190px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:last-of-type {
      margin-right:0;
    }
    &.current {
      @include scale(1.8,1.8);
    }
  }
}
#test {
  position: absolute;
  bottom:0;
  left:0;
}
.slide-template {
  display: none;
  .wrap-flex {
    .col-f2 {
      .btn-next {
        position: relative;
        position: absolute;
        width:123px;
        height:123px;
        right: -20px;
        top:50%;
        cursor: pointer;
        @include translatey(-50%);
        background: black;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background : -moz-linear-gradient(0% 50% 0deg,rgba(108, 124, 227, 1) 0%,rgba(103, 181, 229, 1) 46.32%,rgba(97, 252, 231, 1) 99.44%);
        background : -webkit-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
        background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(108, 124, 227, 1) ),color-stop(0.4632,rgba(103, 181, 229, 1) ),color-stop(0.9944,rgba(97, 252, 231, 1) ));
        background : -o-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
        background : -ms-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C7CE3', endColorstr='#61FCE7' ,GradientType=0)";
        background : linear-gradient(90deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
        background-repeat:no-repeat;
        background-position: center;
        &:after {
          content: '';
          position: absolute;
          width:25px;
          height:45px;
          background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2019%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_9%3C/title%3E%3Cpath%20d%3D%22M5%2C20a.47.47%2C0%2C0%2C1-.35-.15.48.48%2C0%2C0%2C1%2C0-.7l8.64-8.65L4.65%2C1.85a.48.48%2C0%2C0%2C1%2C0-.7.48.48%2C0%2C0%2C1%2C.7%2C0l9%2C9a.48.48%2C0%2C0%2C1%2C0%2C.7l-9%2C9A.49.49%2C0%2C0%2C1%2C5%2C20Z%22%20transform%3D%22translate%28-4.5%20-1%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
          right:65px;
          top:50%;
          left:50%;
          background-repeat:no-repeat;
          @include translate(-50%,-50%);

        }

      }

    }
  }
}
.template-question--slide-five {
  .wrap-flex {
    margin-top: 40px;
    align-items: center;
  }
    .btn-next {
      position: relative;
      position: absolute;
      width:123px;
      height:123px;
      right: -30px;
      top:50%;
      cursor: pointer;
      @include translatey(-50%);
      background: black;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      background : -moz-linear-gradient(0% 50% 0deg,rgba(108, 124, 227, 1) 0%,rgba(103, 181, 229, 1) 46.32%,rgba(97, 252, 231, 1) 99.44%);
      background : -webkit-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(108, 124, 227, 1) ),color-stop(0.4632,rgba(103, 181, 229, 1) ),color-stop(0.9944,rgba(97, 252, 231, 1) ));
      background : -o-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      background : -ms-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C7CE3', endColorstr='#61FCE7' ,GradientType=0)";
      background : linear-gradient(90deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
      background-repeat:no-repeat;
      background-position: center;
      &:after {
        content: '';
        position: absolute;
        width:25px;
        height:45px;
        background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2019%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_9%3C/title%3E%3Cpath%20d%3D%22M5%2C20a.47.47%2C0%2C0%2C1-.35-.15.48.48%2C0%2C0%2C1%2C0-.7l8.64-8.65L4.65%2C1.85a.48.48%2C0%2C0%2C1%2C0-.7.48.48%2C0%2C0%2C1%2C.7%2C0l9%2C9a.48.48%2C0%2C0%2C1%2C0%2C.7l-9%2C9A.49.49%2C0%2C0%2C1%2C5%2C20Z%22%20transform%3D%22translate%28-4.5%20-1%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
        right:65px;
        top:50%;
        left:50%;
        background-repeat:no-repeat;
        @include translate(-50%,-50%);

      }

    }
}
.thank {
  .btn-next {
    position: relative;
    position: absolute;
    width:123px;
    height:123px;
    right: 1%;
    top:50%;
    cursor: pointer;
    @include translatey(-50%);
    background: black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(108, 124, 227, 1) 0%,rgba(103, 181, 229, 1) 46.32%,rgba(97, 252, 231, 1) 99.44%);
    background : -webkit-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(108, 124, 227, 1) ),color-stop(0.4632,rgba(103, 181, 229, 1) ),color-stop(0.9944,rgba(97, 252, 231, 1) ));
    background : -o-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background : -ms-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C7CE3', endColorstr='#61FCE7' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background-repeat:no-repeat;
    background-position: center;
    &:after {
      content: '';
      position: absolute;
      width:25px;
      height:45px;
      background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2019%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_9%3C/title%3E%3Cpath%20d%3D%22M5%2C20a.47.47%2C0%2C0%2C1-.35-.15.48.48%2C0%2C0%2C1%2C0-.7l8.64-8.65L4.65%2C1.85a.48.48%2C0%2C0%2C1%2C0-.7.48.48%2C0%2C0%2C1%2C.7%2C0l9%2C9a.48.48%2C0%2C0%2C1%2C0%2C.7l-9%2C9A.49.49%2C0%2C0%2C1%2C5%2C20Z%22%20transform%3D%22translate%28-4.5%20-1%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
      right:65px;
      top:50%;
      left:50%;
      background-repeat:no-repeat;
      @include translate(-50%,-50%);

    }

  }
}
.result-day {
  .select-list{
    top:initial!important;
  }
}
.select-list {
  position: absolute;
  height:80px;
  left:0;
  top: 50%;
  @include translate(-50%,-50%);
  max-height: 255px;
  width: 100%;
  max-width: 500px;
  left:50%;
  border-right: 2px solid white;
  border-left: 2px solid white;

}

.third_slide-content {
  height:calc(100vh - 256px);
  display: flex;
  align-items: center;
  justify-content: center;
  .wrap-flex {
    justify-content: center;
    position: relative;
    max-width:768px;
  }
  .btn-valid {
    top:initial;
    left:initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
    bottom:-100%;
  }
  .list-btn {
    margin-bottom:30px;
    width:100%;
    display: flex;
    justify-content: center;
  }
}
.four_slide-content {
  width:400px;
  height:400px;
  display: flex;
  align-items:center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index:1000;
  flex-flow:wrap;
  .wrap-flex {
    height:100%;
  }
  @include translate(-50%,-50%);
  .four_slide-content-test {
    width:400px;
    height:400px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%,-50%);
  }
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%,-50%);
    &.circleTrack {
      -webkit-transform: translate(-50%,-50%) rotate(-90deg);
      -moz-transform: translate(-50%,-50%) rotate(-90deg);
      -ms-transform: translate(-50%,-50%) rotate(-90deg);
      -o-transform: translate(-50%,-50%) rotate(-90deg);
      transform: translate(-50%,-50%) rotate(-90deg);
    }
  }
  .block-drag {
    display: block;
    height:340px;
    width:50px;
    transform-origin: center;
    z-index:1000;
    position: absolute;

    &.block-drag--two {
      display: none;
      .block-drag-target {
        background-image: -moz-linear-gradient( 42deg, rgb(172,0,0) 0%, rgb(214,33,33) 59%, rgb(255,65,65) 100%);
        background-image: -webkit-linear-gradient( 42deg, rgb(172,0,0) 0%, rgb(214,33,33) 59%, rgb(255,65,65) 100%);
        background-image: -ms-linear-gradient( 42deg, rgb(172,0,0) 0%, rgb(214,33,33) 59%, rgb(255,65,65) 100%);
      }
    }
  }
  .block-drag-target {
    width:60px;
    height:60px;
    border-radius: 100%;
    position: relative;
    top:-14px;
    cursor: move;
    left:50%;
    @include translatex(-50%);
    background-image: -moz-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
    background-image: -webkit-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);
    background-image: -ms-linear-gradient( 56deg, rgb(224,54,95) 0%, rgb(227,144,65) 35%, rgb(229,234,35) 100%);

  }
  .percantage {
    color: $white;
    font-size:65px;
    font-family:$font-gtLight;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:9999;
    @include translate(-50%, -50%);
    .switch-moyenne {
      width:100px;
      display: block;
      background: transparent;
      border:1px solid $white;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      font-size:15px;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      margin: 20px auto 0 auto;
      .btn-moyenne {
        padding:7px 0;
        cursor: pointer;
        &.active {
          background: $white;
          color: $red;
        }
        color: $white;
        text-decoration: none;
      }
      .btn-moyenne {
        flex:0 0 50%;
      }
      .btn-price {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      .btn-moy {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }
  }
}
#teste {
  /*PERCENTAGE */
  stroke-dasharray: 974;
  stroke-dashoffset: 974;
  transition: all 100ms ease;
  stroke-linecap: round;
  stroke-width: 5px;
}
.moyenne {
  font-size:20px;
  font-family:$font-gtLight;
  color: $red;
  display: block;
  margin-bottom:16px;

}
.text-center {
  text-align: center;
}
text {
  fill: white;
  font-family: $font-gtLight;
}
.chart div {
  font: 15px sans-serif;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, blue, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, blue, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, blue, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, blue, red); /* Standard syntax */
  text-align: right;
  padding: 20px;
  margin: 2px;
  color: white;
}
.results {
  .c3-axis-y {
    fill: white;
    stroke-width: 1px;
  }
}
.c3-event-rects { display: none }

.four_content {
  display: flex;
  padding:26px 20px 50px 20px;
  font-size:16px;

  font-family:$font-sanMedium;
  color: $violet;
  text-align: left;
  margin-top:50px;
  width:100%;
  max-width:326px;
  background: $white;
  z-index:10000;
  box-shadow: 0px 22px 59px 0px rgba(0, 0, 0, 0.61);
  border-radius: 16px;

}
.drag-percentage {
  font-family:$font-gtLight;
  font-size:30px;
  color: $white;
}
.template-question {
  display: block;
}
.template-result {
  display: none;
}
.none {
  display: none!important;
}
.template-question--slide-five {
  .btn-valid {
    bottom:-32%;
  }
  .four_content {
    margin:0 auto;
    padding:26px 20px 26px 20px;
  }
  .sell-percen {
    color: $white;
    font-family:$font-gtRegular;
    font-size:26px;
    position: relative;
    display: block;
    width:210px;
    border-bottom: 1px solid $white;
    padding-bottom:5px;
    text-align: center;
    &:before, &:after {
      content: "";
      position: absolute;
      width:1px;
      height:8px;
      background: $white;
    }
    &:before {
      bottom:-8px;
      left:0;
    }
    &:after {
      bottom:-8px;
      right:0;
    }
  }
  .block-sell {
    margin-top:15px;
    width:350px;
    max-width:350px;
    height:90px;
    background: white;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      height:100%;
      top:0;
    }
    &:before {
      left:0;
      width:60%;
      background : -moz-linear-gradient(0% 50% 0deg,rgba(229, 234, 35, 1) 0%,rgba(224, 138, 54, 1) 100%);
      background : -webkit-linear-gradient(0deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
      background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(229, 234, 35, 1) ),color-stop(1,rgba(224, 138, 54, 1) ));
      background : -o-linear-gradient(0deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
      background : -ms-linear-gradient(0deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
      background : linear-gradient(90deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
    }
  }
  .results {
    .wrap-flex {
      width:100%;

      max-width:450px;
      margin:30px auto 0 auto;
      justify-content: center;
      align-items:center;
      .round {
        display: inline-block;
        width:17px;
        height:17px;
        border-radius: 100%;
        background: $white;
        position: relative;
        top:3px;
        &:first-of-type {
          background-image: -moz-linear-gradient( 56deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
          background-image: -webkit-linear-gradient( 56deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
          background-image: -ms-linear-gradient( 56deg, rgb(224,138,54) 0%, rgb(227,186,45) 32%, rgb(229,234,35) 100%);
        }
        &.round-white {
          background: $white;
        }
      }
      p{
        font-family:$font-gtLight;
        font-size:15px;
        margin:0;
        padding:0;
        display: inline-block;
        padding-left:5px;
        &.sell-top {
          margin-top:30px;
          margin-bottom:90px;
          font-family:$font-sanRegular;
        }
      }

    }
  }
}
.thank {
  display: none;
  width: 100%;
  max-width:740px;
  height:100%;
  //display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin:0 auto;
  color: $white;
  text-align: center;
  h1 {
    font-family:$font-gtBold;
    font-size:70px;
    margin-bottom:30px;
  }
  p{
    font-family:$font-sanRegular;
    font-size:20px;
    line-height:30px;
  }
}
.slide-last {
  display: none;
  .last-liste {
  }
  label {
    display: inline-block;
    height:40px;
    width:100%;
    margin-top:40px;
    margin-bottom:40px;
    position: relative;
    &:before {
      content: '';
      right:10px;
      position: absolute;
      background-repeat:no-repeat;
      background-position: center;
      background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2019%2020%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_23%3C/title%3E%3Cpath%20d%3D%22M18.87%2C19.16l-5.94-6.48A7.5%2C7.5%2C0%2C0%2C0%2C12.8%2C2.2a7.48%2C7.48%2C0%2C0%2C0-10.6%2C0%2C7.48%2C7.48%2C0%2C0%2C0%2C0%2C10.6%2C7.49%2C7.49%2C0%2C0%2C0%2C10%2C.55l5.94%2C6.49a.49.49%2C0%2C0%2C0%2C.37.16.5.5%2C0%2C0%2C0%2C.37-.84ZM1%2C7.5A6.5%2C6.5%2C0%2C1%2C1%2C7.5%2C14%2C6.51%2C6.51%2C0%2C0%2C1%2C1%2C7.5Z%22%20transform%3D%22translate%280%200%29%22/%3E%3C/svg%3E);
      width:18px;
      height:19px;
      top:50%;
      @include translatey(-50%);
      right:10px;
    }
  }
  .col-f2 {
    display: flex;
    flex-flow: wrap;
  }
  h2 {
    font-family:$font-gtBold;
    font-size:60px;
    color: $white;
    position: relative;
    margin-top:80px;
    margin-left:80px;
    margin-bottom:80px;
  }
  .third_slide-content {
    text-align: left;
    width:100%;
    .list-btn {
      justify-content: left;
    }
    .wrap-flex {
      width:100%;
      max-width:100%;
      margin-top:5%;
    }
  }
  .last-text {
    font-family:$font-sanRegular;
    color: $white;
    font-size:20px;
  }
  .select-last {
    display: flex;
    align-items: center;
    margin-top:5%;
    font-size:25px;
    font-family:$font-gtBold;
    color: $white;
    span {
      color: $violet;
      font-size:30px;
      background: $white;
      width:50px;
      height:50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right:20px;
      flex:0 0 50px;
      border-radius: 100%;
    }
  }
  .btn-valid {
    position: relative;
    bottom:initial;
    left:initial;
    margin: 40px auto 0 auto;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
.template-result--slide-last {
  .results {
    max-height: 580px;
  }
  .btn-choice {
    margin:0 5px;
  }
  h2 {
    margin-bottom:10px;
  }
  .select-last {
    margin-top:10px;
  }
  .col-f30 {
    input {
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      cursor: pointer;
      width:100%;
      height:40px;
      border-radius: 13px;
      padding-left:10px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #521067;
      font-family:$font-gtLight;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #521067;
      font-family:$font-gtLight;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #521067;
      font-family:$font-gtLight;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #521067;
      font-family:$font-gtLight;
    }
    flex:0 0 30%;
    display: flex;
    flex-flow: wrap;
  }
  .col-f70 {
    flex:0 0 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-last {
    color: $white;
    display: flex;
    margin-bottom:20px;

    h4 {
      font-family:$font-gtBold;
    }
    p{
      font-family:$font-gtLight;
    }
    .round-last {
      width:15px;
      height:15px;
      display: inline-block;
      border-radius: 100%;
      margin-right:15px;
      flex: 0 0 15px;
      &--red {
        background : -moz-linear-gradient(25% 93.31% 60deg,rgba(255, 28, 36, 1) 0%,rgba(244, 29, 37, 1) 14.18%,rgba(216, 31, 39, 1) 38.84%,rgba(170, 35, 42, 1) 70.8%,rgba(122, 39, 45, 1) 100%);
        background : -webkit-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
        background : -webkit-gradient(linear,25% 93.31% ,75% 6.69% ,color-stop(0,rgba(255, 28, 36, 1) ),color-stop(0.1418,rgba(244, 29, 37, 1) ),color-stop(0.3884,rgba(216, 31, 39, 1) ),color-stop(0.708,rgba(170, 35, 42, 1) ),color-stop(1,rgba(122, 39, 45, 1) ));
        background : -o-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
        background : -ms-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
        background : linear-gradient(30deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);

      }
      &--orange {
        background : -moz-linear-gradient(2342.75% -1437.58% -29.99deg,rgba(251, 176, 59, 1) 0%,rgba(250, 171, 54, 1) 36.36%,rgba(248, 158, 41, 1) 77.57%,rgba(247, 147, 30, 1) 100%);
        background : -webkit-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
        background : -webkit-gradient(linear,2342.75% -1437.58% ,2429.37% -1387.59% ,color-stop(0,rgba(251, 176, 59, 1) ),color-stop(0.3636,rgba(250, 171, 54, 1) ),color-stop(0.7757,rgba(248, 158, 41, 1) ),color-stop(1,rgba(247, 147, 30, 1) ));
        background : -o-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
        background : -ms-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
        background : linear-gradient(119.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
      }
      &--green {
        background : -moz-linear-gradient(2630.37% -1153.53% -149.99deg,rgba(83, 255, 65, 1) 0%,rgba(81, 250, 62, 1) 17.11%,rgba(73, 237, 54, 1) 36.54%,rgba(62, 214, 41, 1) 57.1%,rgba(45, 182, 23, 1) 78.45%,rgba(24, 142, 0, 1) 100%);
        background : -webkit-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
        background : -webkit-gradient(linear,2630.37% -1153.53% ,2543.78% -1103.52% ,color-stop(0,rgba(83, 255, 65, 1) ),color-stop(0.1711,rgba(81, 250, 62, 1) ),color-stop(0.3654,rgba(73, 237, 54, 1) ),color-stop(0.571,rgba(62, 214, 41, 1) ),color-stop(0.7845,rgba(45, 182, 23, 1) ),color-stop(1,rgba(24, 142, 0, 1) ));
        background : -o-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
        background : -ms-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
        background : linear-gradient(239.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
      }
    }
  }
}

.circle_medic {
  width:350px;
  height:350px;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  ul {
    display: inline-block;
    width: 220px;
    position: relative;
    min-height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      font-size:30px;
      color: $white;
      text-align: center;
      max-width:220px;
      margin:0 auto;
      font-family:$font-gtBold;
      &.current {
        display: block;
      }
    }
  }
}
.circle_medic--dots {
  cursor: pointer;
  width:20px;
  height:20px;
  display: inline-block;
  background: $red;
  border-radius: 100%;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  opacity:0.5;
  &.current {
    opacity:1;
  }
  &.red {
    background : -moz-linear-gradient(25% 93.31% 60deg,rgba(255, 28, 36, 1) 0%,rgba(244, 29, 37, 1) 14.18%,rgba(216, 31, 39, 1) 38.84%,rgba(170, 35, 42, 1) 70.8%,rgba(122, 39, 45, 1) 100%);
    background : -webkit-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
    background : -webkit-gradient(linear,25% 93.31% ,75% 6.69% ,color-stop(0,rgba(255, 28, 36, 1) ),color-stop(0.1418,rgba(244, 29, 37, 1) ),color-stop(0.3884,rgba(216, 31, 39, 1) ),color-stop(0.708,rgba(170, 35, 42, 1) ),color-stop(1,rgba(122, 39, 45, 1) ));
    background : -o-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
    background : -ms-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
    background : linear-gradient(30deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);

  }
  &.orange {
    background : -moz-linear-gradient(2342.75% -1437.58% -29.99deg,rgba(251, 176, 59, 1) 0%,rgba(250, 171, 54, 1) 36.36%,rgba(248, 158, 41, 1) 77.57%,rgba(247, 147, 30, 1) 100%);
    background : -webkit-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
    background : -webkit-gradient(linear,2342.75% -1437.58% ,2429.37% -1387.59% ,color-stop(0,rgba(251, 176, 59, 1) ),color-stop(0.3636,rgba(250, 171, 54, 1) ),color-stop(0.7757,rgba(248, 158, 41, 1) ),color-stop(1,rgba(247, 147, 30, 1) ));
    background : -o-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
    background : -ms-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
    background : linear-gradient(119.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
  }
  &.green {
    background : -moz-linear-gradient(2630.37% -1153.53% -149.99deg,rgba(83, 255, 65, 1) 0%,rgba(81, 250, 62, 1) 17.11%,rgba(73, 237, 54, 1) 36.54%,rgba(62, 214, 41, 1) 57.1%,rgba(45, 182, 23, 1) 78.45%,rgba(24, 142, 0, 1) 100%);
    background : -webkit-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
    background : -webkit-gradient(linear,2630.37% -1153.53% ,2543.78% -1103.52% ,color-stop(0,rgba(83, 255, 65, 1) ),color-stop(0.1711,rgba(81, 250, 62, 1) ),color-stop(0.3654,rgba(73, 237, 54, 1) ),color-stop(0.571,rgba(62, 214, 41, 1) ),color-stop(0.7845,rgba(45, 182, 23, 1) ),color-stop(1,rgba(24, 142, 0, 1) ));
    background : -o-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
    background : -ms-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
    background : linear-gradient(239.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
  }
}
#prev-medic {
  position: absolute;
  top:-50px;
  left:50%;
  @include translatex(-50%);
  width:40px;
  height:40px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    @include translatex(-50%);
    width:25px;
    height:25px;
    background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2019%2010%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_13%3C/title%3E%3Cpath%20d%3D%22M19%2C15a.47.47%2C0%2C0%2C1-.15.35.48.48%2C0%2C0%2C1-.7%2C0L9.5%2C6.71.85%2C15.35a.48.48%2C0%2C0%2C1-.7%2C0%2C.48.48%2C0%2C0%2C1%2C0-.7l9-9a.48.48%2C0%2C0%2C1%2C.7%2C0l9%2C9A.49.49%2C0%2C0%2C1%2C19%2C15Z%22%20transform%3D%22translate%280%20-5.5%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
    background-repeat:no-repeat;
    background-position: center;
  }
  display: block;
  z-index:1000000;
}
#next-medic {
  display: block;
  position: absolute;
  bottom:-50px;
  left:50%;
  @include translatex(-50%);
  width:40px;
  height:40px;
  cursor: pointer;
  z-index:1000000;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:25px;
    height:25px;
    background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2019%2010%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_13%3C/title%3E%3Cpath%20d%3D%22M0%2C6a.49.49%2C0%2C0%2C1%2C.15-.35.48.48%2C0%2C0%2C1%2C.7%2C0L9.5%2C14.29l8.65-8.64a.49.49%2C0%2C1%2C1%2C.7.7l-9%2C9a.48.48%2C0%2C0%2C1-.7%2C0l-9-9A.47.47%2C0%2C0%2C1%2C0%2C6Z%22%20transform%3D%22translate%280%20-5.5%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);    background-repeat:no-repeat;
    background-position: center;
  }
}
.template-result--slide-last {
  .results {
    align-items: inherit;
    justify-content: initial;
    .content_name {
      display: flex;
    }
    .name_medic-content {
      margin-top:40px;
      display: flex;
      width:100%;
      flex-flow: column;
      align-items: flex-start;

      .round_medic {
        width:30px;
        height:30px;
        background: red;
        border-radius: 100%;
        display: inline-block;
        margin-right:10px;
        &.red {
          background : -moz-linear-gradient(25% 93.31% 60deg,rgba(255, 28, 36, 1) 0%,rgba(244, 29, 37, 1) 14.18%,rgba(216, 31, 39, 1) 38.84%,rgba(170, 35, 42, 1) 70.8%,rgba(122, 39, 45, 1) 100%);
          background : -webkit-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
          background : -webkit-gradient(linear,25% 93.31% ,75% 6.69% ,color-stop(0,rgba(255, 28, 36, 1) ),color-stop(0.1418,rgba(244, 29, 37, 1) ),color-stop(0.3884,rgba(216, 31, 39, 1) ),color-stop(0.708,rgba(170, 35, 42, 1) ),color-stop(1,rgba(122, 39, 45, 1) ));
          background : -o-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
          background : -ms-linear-gradient(60deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);
          background : linear-gradient(30deg, rgba(255, 28, 36, 1) 0%, rgba(244, 29, 37, 1) 14.18%, rgba(216, 31, 39, 1) 38.84%, rgba(170, 35, 42, 1) 70.8%, rgba(122, 39, 45, 1) 100%);

        }
        &.orange {
          background : -moz-linear-gradient(2342.75% -1437.58% -29.99deg,rgba(251, 176, 59, 1) 0%,rgba(250, 171, 54, 1) 36.36%,rgba(248, 158, 41, 1) 77.57%,rgba(247, 147, 30, 1) 100%);
          background : -webkit-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
          background : -webkit-gradient(linear,2342.75% -1437.58% ,2429.37% -1387.59% ,color-stop(0,rgba(251, 176, 59, 1) ),color-stop(0.3636,rgba(250, 171, 54, 1) ),color-stop(0.7757,rgba(248, 158, 41, 1) ),color-stop(1,rgba(247, 147, 30, 1) ));
          background : -o-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
          background : -ms-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
          background : linear-gradient(119.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
        }
        &.green {
          background : -moz-linear-gradient(2630.37% -1153.53% -149.99deg,rgba(83, 255, 65, 1) 0%,rgba(81, 250, 62, 1) 17.11%,rgba(73, 237, 54, 1) 36.54%,rgba(62, 214, 41, 1) 57.1%,rgba(45, 182, 23, 1) 78.45%,rgba(24, 142, 0, 1) 100%);
          background : -webkit-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
          background : -webkit-gradient(linear,2630.37% -1153.53% ,2543.78% -1103.52% ,color-stop(0,rgba(83, 255, 65, 1) ),color-stop(0.1711,rgba(81, 250, 62, 1) ),color-stop(0.3654,rgba(73, 237, 54, 1) ),color-stop(0.571,rgba(62, 214, 41, 1) ),color-stop(0.7845,rgba(45, 182, 23, 1) ),color-stop(1,rgba(24, 142, 0, 1) ));
          background : -o-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
          background : -ms-linear-gradient(-149.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
          background : linear-gradient(239.99deg, rgba(83, 255, 65, 1) 0%, rgba(81, 250, 62, 1) 17.11%, rgba(73, 237, 54, 1) 36.54%, rgba(62, 214, 41, 1) 57.1%, rgba(45, 182, 23, 1) 78.45%, rgba(24, 142, 0, 1) 100%);
        }
      }
      h2 {
        margin:0;
        font-size:30px;
      }
      p{
        display: block;
        margin: 0;
        font-family:$font-sanMedium;
        padding-left: 40px;
        margin-top:10px;
      }
    }
    .instruction {
      margin-top:40px;
      min-height:300px;


      &.retenir {
        margin:0 auto;
      }
      .wrap-flex {
        margin: 0;
        .col-f2 {
          flex-flow: column;
        }
        h3 {
          margin-bottom:20px;
        }
        p{
          padding: 0;
        }
      }
      h2 {
        width:auto;
        display: inline-block;
        margin:0;
        margin-top:10px;
        font-size:40px;
        font-family:$font-gtBold;
        background-image: -moz-linear-gradient( 56deg, rgb(224,190,54) 0%, rgb(227,212,45) 32%, rgb(229,234,35) 100%);
        background-image: -webkit-linear-gradient( 56deg, rgb(224,190,54) 0%, rgb(227,212,45) 32%, rgb(229,234,35) 100%);
        background-image: -ms-linear-gradient( 56deg, rgb(224,190,54) 0%, rgb(227,212,45) 32%, rgb(229,234,35) 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }
      h3 {
        margin:0;
        margin-top:10px;
        font-size:20px;
        color: $white;
        font-family:$font-gtBold;
      }
      p{
        text-align: left;
        font-family:$font-sanRegular;
        font-size:17px;
        margin: 0;
      }
      .content-retenir {
        padding:0 40px;
        position: relative;
        margin-top:40px;

        &:before {
          content: '“';
          position: absolute;
          font-family:$font-gtBold;
          font-size:60px;
          left:0;
          top:-20px;
        }
        &:after {
          content: '“';
          position: absolute;
          font-family:$font-gtBold;
          font-size:60px;
          right:16px;
          bottom:-10px;
          line-height:0;
        }
      }
    }
  }
}
.switch-moyenne {
  width:100px;
  display: block;
  background: transparent;
  border:1px solid $white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size:15px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
  .btn-moyenne {
    padding:7px 0;
    cursor: pointer;
    &.active {
      background: $white;
      color: $red;
    }
    color: $white;
    text-decoration: none;
  }
  .btn-instruction {
    padding:7px 0;
    flex:0 0 50%;
    text-align: center;
    cursor: pointer;
    font:$font-sanLight;


    &.active {
      background: $white;
      color: $violet;
    }
    color: $white;
    text-decoration: none;
  }
  .btn-moyenne {
    flex:0 0 50%;
  }
  .btn-price {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .btn-moy {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}
.switch-instruction {
  display: block;
  width:200px;
  background: transparent;
  border:1px solid $white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size:15px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
  .btn-moyenne {
    padding:7px 0;
    cursor: pointer;
    &.active {
      background: $white;
      color: $red;
    }
    color: $white;
    text-decoration: none;
  }
  .btn-instruction {
    padding:7px 0;
    flex:0 0 50%;
    text-align: center;
    cursor: pointer;
    font-family:$font-gtLight;

    &.active {
      background: $white;
      color: $violet;
    }
    color: $white;
    text-decoration: none;
  }
  .btn-moyenne {
    flex:0 0 50%;
  }
  .btn-retenir {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .btn-instru {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}
.template-question--slide-last {
  .third_slide-content {
    height:initial;
  }
  .btn-choice {
    margin:0 5px;
  }
}
.template-result--slide-last {
  .third_slide-content {
    height:initial;
  }
}
.second_slide-template {
}
.second_slide-content {
  &.result-day {
    .wrap-flex {
      padding-top:0;
    }
  }
}

.slider-container {
  display: none;
}
.template-question--slide-four {
  .btn-next {
    position: absolute;
    width:123px;
    height:123px;
    right: 10%;
    top:50%;
    cursor: pointer;
    @include translatey(-50%);
    background: black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(108, 124, 227, 1) 0%,rgba(103, 181, 229, 1) 46.32%,rgba(97, 252, 231, 1) 99.44%);
    background : -webkit-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(108, 124, 227, 1) ),color-stop(0.4632,rgba(103, 181, 229, 1) ),color-stop(0.9944,rgba(97, 252, 231, 1) ));
    background : -o-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background : -ms-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C7CE3', endColorstr='#61FCE7' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
    background-repeat:no-repeat;
    background-position: center;
    &:after {
      content: '';
      position: absolute;
      width:25px;
      height:45px;
      background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2019%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_9%3C/title%3E%3Cpath%20d%3D%22M5%2C20a.47.47%2C0%2C0%2C1-.35-.15.48.48%2C0%2C0%2C1%2C0-.7l8.64-8.65L4.65%2C1.85a.48.48%2C0%2C0%2C1%2C0-.7.48.48%2C0%2C0%2C1%2C.7%2C0l9%2C9a.48.48%2C0%2C0%2C1%2C0%2C.7l-9%2C9A.49.49%2C0%2C0%2C1%2C5%2C20Z%22%20transform%3D%22translate%28-4.5%20-1%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
      right:65px;
      top:50%;
      left:50%;
      background-repeat:no-repeat;
      @include translate(-50%,-50%);

    }

  }
}
.first-slide-template {
  .wrap-flex {}
  .results-content {
    max-width:333px;
  }
  .col-mid {
    .legend-chart {
      display: flex;
      flex-flow: column;
      .block-legend {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom:30px;
        }
        .round-legend {
          width:13px;
          height:13px;
          display: flex;
          flex:0 0 13px;
          border-radius: 100%;
          &--yellow {
            background : -moz-linear-gradient(2342.75% -1437.58% -29.99deg,rgba(251, 176, 59, 1) 0%,rgba(250, 171, 54, 1) 36.36%,rgba(248, 158, 41, 1) 77.57%,rgba(247, 147, 30, 1) 100%);
            background : -webkit-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
            background : -webkit-gradient(linear,2342.75% -1437.58% ,2429.37% -1387.59% ,color-stop(0,rgba(251, 176, 59, 1) ),color-stop(0.3636,rgba(250, 171, 54, 1) ),color-stop(0.7757,rgba(248, 158, 41, 1) ),color-stop(1,rgba(247, 147, 30, 1) ));
            background : -o-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
            background : -ms-linear-gradient(-29.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
            background : linear-gradient(119.99deg, rgba(251, 176, 59, 1) 0%, rgba(250, 171, 54, 1) 36.36%, rgba(248, 158, 41, 1) 77.57%, rgba(247, 147, 30, 1) 100%);
          }
          &--white {
            background: $white;
          }
          .legend-chart {
            p{
              font-family:$font-gtLight;
              font-size:15px;

            }
          }

        }
        
      }
      p{
        font-family:$font-gtLight;
        font-size:15px;
        margin: 0;
        text-align: left;

      }
    }

  }
}
.second_slide-template {
  .second_slide-content {
    .wrap-flex {
      ul {
        li{
          &:last-of-type {
            padding-bottom:160px;
          }
        }
      }
    }
  }
}
.btn-next-two {
  position: absolute;
  width:123px;
  height:123px;
  right: -60px;
  top:50%;
  cursor: pointer;
  @include translatey(-50%);
  background: black;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background : -moz-linear-gradient(0% 50% 0deg,rgba(108, 124, 227, 1) 0%,rgba(103, 181, 229, 1) 46.32%,rgba(97, 252, 231, 1) 99.44%);
  background : -webkit-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(108, 124, 227, 1) ),color-stop(0.4632,rgba(103, 181, 229, 1) ),color-stop(0.9944,rgba(97, 252, 231, 1) ));
  background : -o-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
  background : -ms-linear-gradient(0deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C7CE3', endColorstr='#61FCE7' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(108, 124, 227, 1) 0%, rgba(103, 181, 229, 1) 46.32%, rgba(97, 252, 231, 1) 99.44%);
  background-repeat:no-repeat;
  background-position: center;
  &:after {
    content: '';
    position: absolute;
    width:25px;
    height:45px;
    background: url(data:image/svg+xml,%3Csvg%20id%3D%22Calque_1%22%20data-name%3D%22Calque%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2019%22%3E%3Ctitle%3EObjet%20dynamique%20vectoriel_9%3C/title%3E%3Cpath%20d%3D%22M5%2C20a.47.47%2C0%2C0%2C1-.35-.15.48.48%2C0%2C0%2C1%2C0-.7l8.64-8.65L4.65%2C1.85a.48.48%2C0%2C0%2C1%2C0-.7.48.48%2C0%2C0%2C1%2C.7%2C0l9%2C9a.48.48%2C0%2C0%2C1%2C0%2C.7l-9%2C9A.49.49%2C0%2C0%2C1%2C5%2C20Z%22%20transform%3D%22translate%28-4.5%20-1%29%22%20style%3D%22fill%3A%23fff%22/%3E%3C/svg%3E);
    right:65px;
    top:50%;
    left:50%;
    background-repeat:no-repeat;
    @include translate(-50%,-50%);

  }
}
.thank {
  .btn-next-two {
    right:1%;
  }
}
.source {
  display: none;
  .btn-next-two {
    right:intial;
    left:10%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
  height:100vh;
  width:100%;
  .center{
    text-align: center;
    width:100%;
    h2 {
      font-size:72px;
      font-family:$font-gtBold;
      color: $white;
      margin-bottom:40px;
    }
    li {
      a {
        font-size:20px;
        font-family:$font-sanRegular;
        color: $white;
        display: inline-block;
        margin-bottom:16px;
        &:last-of-type {
          margin-bottom:20px;
        }
      }
    }
    max-width:700px;
    padding:0 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .bottom {
    text-align: center;
    position: absolute;
    bottom:6%;
    left:50%;
    .source-logo {
      margin-bottom:40px;
      img {
        &:first-of-type {
          padding-right:80px;
        }
        &:nth-of-type(2) {
          padding-bottom:10px;
        }
      }
    }
    @include translatex(-50%);
  }
  p{
    font-size:16px;
    color: $white;

    &:first-of-type {
      font-family:$font-gtBold;
    }
    &:nth-of-type(2) {
      font-family:$font-sanRegular;
    }
  }
}
