/**
    IMPORT GENERAL
 */
@import 'libs/reset';
@import 'utils/variables';
@import 'utils/mixins';

/**
    IMPORT COMPONENTS
 */
@import 'utils/generals';
@import 'components/btn';
@import 'components/introduction';

/**
    IMPORT LAYOUT
 */
@import 'layout/slide-content';

.chart{
}
.first_slidee {
  display: block!important;
}
.chart {
  display: table;
}
.chart div:first-of-type {
  background : -moz-linear-gradient(124.35% 13.34% -135deg,rgba(229, 234, 35, 1) 0%,rgba(224, 138, 54, 1) 100%);
  background : -webkit-linear-gradient(-135deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
  background : -webkit-gradient(linear,124.35% 13.34% ,-24.35% 86.66% ,color-stop(0,rgba(229, 234, 35, 1) ),color-stop(1,rgba(224, 138, 54, 1) ));
  background : -o-linear-gradient(-135deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
  background : -ms-linear-gradient(-135deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5EA23', endColorstr='#E08A36' ,GradientType=0)";
  background : linear-gradient(225deg, rgba(229, 234, 35, 1) 0%, rgba(224, 138, 54, 1) 100%);
}
.chart div {
  display: table-cell;
  vertical-align: bottom;
  font: 15px sans-serif;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, blue, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, blue, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, blue, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, blue, red); /* Standard syntax */
  text-align: right;
  padding: 75px;
  margin-right: 17px;
  color: white;
  border-radius : 10px;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  display: inline-block;
}
.bar {
  .active-1 {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width:40px;
      height:40px;
      background: $black;
    }
  }
}
.chart {
  svg {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
.wave-xp {
  position: absolute;
  top:15%;
  left:0;
  z-index:-1;
}